@charset "utf-8";
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    -ms-touch-action: none;
    height: 100%;
}

body,ul,li {
    padding: 0;
    margin: 0;
    border: 0;
    position: relative;
    height: 100%;
}

body {
    font-size: 16px;
    font-family: ubuntu, helvetica, arial;
}
